<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <title>Report Estimate View</title>
</head>
<body>
<div class="container" dir="ltr">
    {% for ad in ads %}
        <div class="card mt-2 p-2">
            <h5 class="card-title">{{ ad }}</h5>
            <div class="card-body">
                <div class="row">
		    {% for click in ad.clicks.all %}
		        <div class="card col-md-2 p-0 mx-2">
                    <div class="card-body">
                        <span>{{ click.duration }}</span>
                    </div>
		        </div>
		    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>